// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import 'fonts';
@import 'colors';
@import 'header';
@import 'contact';
@import 'footer';
@import 'modal';

/* Space out content a bit */
body {
  background: #fff;
  color: #000;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 74px;
	font-weight: 400;
	line-height: 111px;
  text-align: center;
  
  @media (max-width: 576px) {
    font-size: 64px;
  }
}

h2 {
	font-family: 'Playfair Display', serif;  
  font-size: 58px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h3 {
	font-family: 'Playfair Display', serif;  
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.center{
  text-align: center;
}

.readmore{
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;

  &:hover{
    color: #000;
  }
}

.title__block {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;

  &__line{
      box-sizing: border-box;
      height: 3px;
      width: 69px;
      border: 2px solid #FFF;
      margin: 30px 0;

      &.black{
        border: 2px solid #000;
      }

      &.right{
        float: right;
      }
  }
}

.banner{
  height: 510px;
  background-color: $BlueGreyLight;
  background-image: url('../images/banner_blue.jpg');    
  background-position-x: center;
  background-position-y: 18%;
  background-size: cover;
  background-repeat: no-repeat;  
  display: flex;
  align-items: center;
  color: #fff;
}

img{
  width: 100%;
}

.contentblock {
  padding: 90px 0;

  @media (min-width: 1200px) {
    padding: 90px 10%;
  }

  &.darkblue, &.grey {
    color: #fff;

    a{
      color: #fff;

      &:hover{
        color: #fff;
      }
    }
  }

  &.darkblue {
    background-color: $BlueGreyDark;
  }

  &.grey {
    background-color: $BlueGreyLight;
  }

  &__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
  }

  &__img{
    img{
      width: 100%;
    }
  }
}
