// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "bower_components/swiper/dist/css/swiper.min.css";
@import 'fonts';
@import 'colors';
@import 'header';
@import 'contact';
@import 'footer';
@import 'modal';

/* Space out content a bit */
body {
  background: $BlueGreyFooter;
  color: #000;
}

.container{
  max-width:1400px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 74px;
	font-weight: 400;
	line-height: 111px;
  text-align: center;
  
  @media (max-width: 576px) {
    font-size: 64px;
  }
}

h2 {
	font-family: 'Playfair Display', serif;  
  font-size: 58px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h3 {
	font-family: 'Playfair Display', serif;  
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.center{
  text-align: center;
}

.readmore{
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;

  &:hover{
    color: #000;
  }
}

.title__block {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;

  &__line{
      box-sizing: border-box;
      height: 3px;
      width: 69px;
      border: 2px solid #FFF;
      margin: 30px 0;

      &.black{
        border: 2px solid #000;
      }

      &.right{
        float: right;
      }
  }
}

.banner{
  height: 510px;
  background-color: $BlueGreyLight;
  background-image: url('../images/banner_blue.jpg');    
  background-position-x: center;
  background-position-y: 18%;
  background-size: cover;
  background-repeat: no-repeat;  
  display: flex;
  align-items: center;
  color: #fff;
}

img{
  width: 100%;
  margin-bottom: 24px;
}

.contentblock {
  padding: 90px 0;

  @media (min-width: 1200px) {
    padding: 90px 6%;
  }

  @media (max-width: 576px) {
    padding: 45px 0;
  }

  &.darkblue, &.grey {
    color: #fff;

    a{
      color: #fff;

      &:hover{
        color: #fff;
      }
    }
  }

  &.darkblue {
    background-color: $BlueGreyDark;
  }

  &.grey {
    background-color: $BlueGreyLight;
  }

  &.white{
    background-color: #fff;
  }

  &.swiperblock{
    padding: 0 30px 90px;
  }

  &__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding-right: 2rem;

    @media (max-width: 768px) {
      margin-bottom: 40px;
      padding-right: 0;
    }
  }

  &__img{
    img{
      width: 100%;
    }
  }
}

.nopadding{
  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.mobile-topmargin{
  @media (max-width: 768px) {
    margin-top: 1.5rem !important;
  }
}

#clientlogos{
  display: none;
}

.clientlogoimg{
  max-width: 220px;
  max-height: 70px;
  width:auto;
  margin-bottom: 0;

  @media (max-width: 1200px) {
    max-width: 160px;
  }
}

.swiper-container {
  width: 100%;
  height: auto;
  padding-bottom: 100px !important;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev{
  margin-top: -5% !important;
  width: 14px !important;
  height: 22px !important;
  background-size: contain !important;
  opacity: 0.8;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%235C7387'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%235C7387'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #D8D8D8 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #5C7387 !important;
}